p{
	
	color: blue;
}

body {
	
	font-family : monospace;
	text-align : justify;
	
	
}

li{
	
	color : green;
	
}


.description{
	
	
	color : red;
	

}

#list-one{
	
	
	margin : 10%;
	
}

img{
	
	margin-left : auto;
	margin-right : auto;
	
	display : block;
}

.imagesFlip{
	
	animation : filterFlip 2s alternate-reverse;
	animation-iteration-count: 50;
	
	
	
	
}

@keyframes filterFlip{
	
	from{
		filter:invert(0%);
	}
	
	to{
		filter:invert(100%);
	}
	
	
}